#menu1{
    background-color: #e9ecef;
    
}

#foto{
    margin-top: 30px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #0d6efd;
    text-align: left 10px;
    margin-top: 50px;
}

h3{
    margin-top: 20px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h6{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: left 10px;
    text-decoration: none;
}
a{
    text-decoration: none;  
    color: black;
}

a:hover{
    color: #0d6efd;
}

footer{
    color:#0d6efd;
}

p{
    color: blue;
    margin-left: 35px;
    margin-top: 100px;
}

.dados{
    margin-top: 50px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#icones{
    margin-top: 100px;
   
}

#conhecimentos{
    color: black;
    margin-top: 100px;
    margin-left: 0px;
}
#sobre{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 500px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: justify;
}

button{
   border-color: #0d6efd;
   background-color: azure;
   border-radius: 10px;
   font-family: Arial, Helvetica, sans-serif;
}
button:hover{
    background-color: #0d6efd;
}